# Indica a Lombok que este es el archivo de configuración principal de la raíz
config.stopBubbling = true

# Copia la anotación @Qualifier al constructor generado por @RequiredArgsConstructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Copia también la anotación @Value de Spring si la usas para leer propiedades
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
